In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

Which 5 games have the highest global sales? What do they have in common?

In [3]:
df.sort_values(by='Global_Sales',ascending=[False]).head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Calculate total sales by genre. Which genre generates the most revenue globally?

In [4]:
df.groupby('Genre')['Global_Sales'].sum().sort_values(ascending=[False])

Genre
Action          1751.18
Sports          1330.93
Shooter         1037.37
Role-Playing     927.37
Platform         831.37
Misc             809.96
Racing           732.04
Fighting         448.91
Simulation       392.20
Puzzle           244.95
Adventure        239.04
Strategy         175.12
Name: Global_Sales, dtype: float64

Find the average sales per game for each platform. Which platforms have the highest average?

In [35]:
df[df['Platform']=='GEN']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
143,144,Sonic the Hedgehog 2,GEN,1992.0,Platform,Sega,4.47,1.20,0.16,0.19,6.03
254,255,Sonic the Hedgehog,GEN,1991.0,Platform,Sega,3.03,0.91,0.26,0.13,4.34
564,565,Mortal Kombat,GEN,1992.0,Fighting,Arena Entertainment,1.95,0.63,0.00,0.09,2.67
588,589,Streets of Rage,GEN,1990.0,Action,Sega,1.86,0.55,0.11,0.08,2.60
827,829,NBA Jam,GEN,1992.0,Sports,Arena Entertainment,1.75,0.25,0.00,0.05,2.05
952,954,Sonic & Knuckles,GEN,1994.0,Platform,Sega,1.24,0.43,0.03,0.12,1.82
991,993,Sonic the Hedgehog 3,GEN,1994.0,Platform,Sega,1.02,0.47,0.20,0.07,1.76
1099,1101,Street Fighter II': Special Champion Edition,GEN,1992.0,Fighting,Sega,1.00,0.30,0.31,0.04,1.66
1372,1374,Disney's The Lion King,GEN,1994.0,Platform,Virgin Interactive,0.97,0.37,0.03,0.05,1.41
1458,1460,Mortal Kombat 3,GEN,1994.0,Fighting,Acclaim Entertainment,1.03,0.27,0.00,0.04,1.34
1841,1843,NBA Jam Tournament Edition,GEN,1994.0,Sports,Acclaim Entertainment,0.95,0.14,0.00,0.03,1.11
6473,6475,Virtua Racing,GEN,1994.0,Racing,Sega,0.00,0.00,0.26,0.00,0.26
7910,7912,Shining Force II,GEN,1993.0,Strategy,Sega,0.00,0.00,0.19,0.00,0.19
8908,8910,Super Street Fighter II,GEN,1993.0,Fighting,Capcom,0.00,0.00,0.15,0.00,0.15
9004,9006,"Lunar 2: Eternal Blue(sales, but wrong system)",GEN,1994.0,Role-Playing,Game Arts,0.00,0.00,0.14,0.00,0.14
9561,9563,Gunstar Heroes,GEN,1992.0,Shooter,Sega,0.00,0.00,0.13,0.00,0.13
9796,9798,Ecco the Dolphin,GEN,1992.0,Adventure,Sega,0.00,0.00,0.12,0.00,0.12
11541,11543,Yuu Yuu Hakusho: Makyo Toitsusen,GEN,1994.0,Fighting,Sega,0.00,0.00,0.08,0.00,0.08
11640,11642,Dragon Slayer: The Legend of Heroes,GEN,1994.0,Role-Playing,Sega,0.00,0.00,0.08,0.00,0.08
11951,11953,Ecco: The Tides of Time,GEN,1993.0,Adventure,Sega,0.00,0.00,0.07,0.00,0.07
12065,12067,Street Fighter II': Special Champion Edition (...,GEN,1993.0,Action,Capcom,0.00,0.00,0.07,0.00,0.07
12231,12233,Streets of Rage 3,GEN,1993.0,Action,Sega,0.00,0.00,0.07,0.00,0.07
12945,12947,Dynamite Headdy,GEN,1993.0,Platform,Sega,0.00,0.00,0.05,0.00,0.05
13311,13313,Beyond Oasis,GEN,1993.0,Role-Playing,Sega,0.00,0.00,0.05,0.00,0.05
14034,14036,J-League Pro Striker 2,GEN,1994.0,Sports,Sega,0.00,0.00,0.04,0.00,0.04
14093,14095,Castlevania Bloodlines,GEN,1994.0,Platform,Konami Digital Entertainment,0.00,0.00,0.04,0.00,0.04
14416,14419,Puzzle & Action: Tant-R,GEN,1994.0,Misc,Sega,0.00,0.00,0.03,0.00,0.03

In [32]:
df.groupby('Platform').agg(Global_Sales_sum=('Global_Sales','sum'),Global_Sales_mean=('Global_Sales','mean'),Global_Sales_count=('Global_Sales','count')).sort_values(by='Global_Sales_mean',ascending=[False])

          Global_Sales_sum  Global_Sales_mean  Global_Sales_count
Platform
GB                  255.45           2.606633                  98
NES                 251.07           2.561939                  98
GEN                  28.36           1.050370                  27
SNES                200.05           0.837029                 239
PS4                 278.10           0.827679                 336
X360                979.96           0.774672                1265
2600                 97.08           0.729925                 133
PS3                 957.84           0.720722                1329
Wii                 926.71           0.699404                1325
N64                 218.88           0.686144                 319
XOne                141.06           0.662254                 213
PS                  730.66           0.610920                1196
PS2                1255.64           0.581046                2161
WiiU                 81.86           0.572448                 143
3DS                 247.46           0.486169                 509
GBA                 318.50           0.387470                 822
DS                  822.49           0.380254                2163
GC                  199.36           0.358561                 556
XB                  258.26           0.313422                 824
SCD                   1.87           0.311667                   6
DC                   15.97           0.307115                  52
PC                  258.82           0.269604                 960
PSP                 296.28           0.244254                1213
WS                    1.42           0.236667                   6
SAT                  33.59           0.194162                 173
PSV                  61.93           0.149952                 413
NG                    1.44           0.120000                  12
TG16                  0.16           0.080000                   2
GG                    0.04           0.040000                   1
3DO                   0.10           0.033333                   3
PCFX                  0.03           0.030000                   1

Which publisher has released the most games? Do they also have the highest total sales?

In [37]:
df.groupby('Publisher').agg(Name_count=('Name','count'),Sales=('Global_Sales','sum')).sort_values(by='Name_count',ascending=[False])

                              Name_count    Sales
Publisher
Electronic Arts                     1351  1110.32
Activision                           975   727.46
Namco Bandai Games                   932   254.09
Ubisoft                              921   474.72
Konami Digital Entertainment         832   283.64
...                                  ...      ...
Genterprise                            1     0.01
Giga                                   1     0.02
Giza10                                 1     0.02
Glams                                  1     0.08
Imadio                                 1     0.14

[578 rows x 2 columns]

In [38]:
df.groupby('Publisher').agg(Name_count=('Name','count'),Sales=('Global_Sales','sum')).sort_values(by='Sales',ascending=[False])

                             Name_count    Sales
Publisher
Nintendo                            703  1786.56
Electronic Arts                    1351  1110.32
Activision                          975   727.46
Sony Computer Entertainment         683   607.50
Ubisoft                             921   474.72
...                                 ...      ...
Interworks Unlimited, Inc.            1     0.01
Inti Creates                          1     0.01
Stainless Games                       1     0.01
Interchannel-Holon                    1     0.01
New World Computing                   1     0.01

[578 rows x 2 columns]

For games released after 2010, which genre dominated each region (NA, EU, JP)?

In [45]:
df1=df[df['Year']>2010]
df1.groupby('Genre').agg(NA_Sales_sum=('NA_Sales','sum'),EU_Sales_sum=('EU_Sales','sum'),JP_Sales_sum=('JP_Sales','sum'),Other_Sales_sum=('Other_Sales','sum'),Global_Sales_sum=('Global_Sales','sum')).sort_values(by='Global_Sales_sum',ascending=[False])

,NA_Sales_sum,EU_Sales_sum,JP_Sales_sum,Other_Sales_sum,Global_Sales_sum
Genre,,,,,
Action,227.46,200.52,62.15,65.56,555.86
Shooter,184.53,142.54,11.42,46.71,385.39
Role-Playing,79.02,60.06,76.77,19.24,235.20
Sports,105.88,86.60,10.92,28.86,232.27
Misc,70.29,40.88,17.25,12.78,141.19
Platform,38.31,30.14,12.07,8.25,88.79
Racing,31.36,41.00,5.61,10.75,88.76
Fighting,31.49,16.65,12.24,6.81,67.19
Simulation,15.46,18.43,11.54,3.78,49.18
Adventure,14.34,13.85,11.84,4.39,44.48
Strategy,7.53,7.89,4.58,1.99,22.03
Puzzle,2.84,3.58,2.91,0.71,10.06

Calculate the percentage of global sales that each region contributes. Which region is most important?

In [51]:
NA_Sales_sum = df['NA_Sales'].sum()
EU_Sales_sum = df['EU_Sales'].sum()
JP_Sales_sum = df['JP_Sales'].sum()
Other_Sales_sum = df['Other_Sales'].sum()
Global_Sales_sum = df['Global_Sales'].sum() 
print(f"NA_Sales_sum: {(NA_Sales_sum/Global_Sales_sum):.2f}, EU_Sales_sum: {(EU_Sales_sum/Global_Sales_sum):.2f}, JP_Sales_sum: {(JP_Sales_sum/Global_Sales_sum):.2f}, Other_Sales_sum: {(Other_Sales_sum/Global_Sales_sum):.2f}")

NA_Sales_sum: 0.49, EU_Sales_sum: 0.27, JP_Sales_sum: 0.14, Other_Sales_sum: 0.09

Find games where Japanese sales exceed North American sales. What patterns do you notice about genre or
publisher?

In [58]:
df1=df[df['JP_Sales']>df['NA_Sales']]
df1.groupby('Genre').agg(JP_Sales_sum=('JP_Sales','sum'),Count=('Name','count')).sort_values(by='JP_Sales_sum',ascending=[False])

              JP_Sales_sum  Count
Genre
Role-Playing        260.11    772
Sports              108.08    427
Action               96.81    684
Misc                 80.81    450
Fighting             58.72    301
Simulation           51.99    201
Strategy             44.06    232
Adventure            41.27    675
Platform             40.45     94
Puzzle               38.97    104
Racing               19.52     78
Shooter              16.93    107

In [56]:
df1.groupby('Publisher').agg(JP_Sales_sum=('JP_Sales','sum'),Count=('Name','count')).sort_values(by='JP_Sales_sum',ascending=[False])

                              JP_Sales_sum  Count
Publisher
Nintendo                            178.19    286
Namco Bandai Games                  116.01    636
Konami Digital Entertainment         79.82    395
Sega                                 48.98    276
Capcom                               48.09    141
...                                    ...    ...
Kalypso Media                         0.01      1
Commseed                              0.01      1
Michaelsoft                           0.01      1
Moss                                  0.01      1
Naxat Soft                            0.01      1

[270 rows x 2 columns]